.Rproj.user/*
.Rhistory
.RData
.Ruserdata
*.RDS
*.Rds
*.rds
*.pdf
presentations/theoryMigrationClass/presentation_files/*
presentations/theoryMigrationClass/libs/*
presentations/maxPlanckDisertation/presentation_files/*
presentations/maxPlanckDisertation/libs/*
readings/*
*.docx
cleaned_data/*
codebooks/*
data/*
keys/*
*.html
*.so
*.o
.Rproj.user
*.png
